@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(45deg, #00d5ff, #152179, #190952, #00d5ff);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    background-position: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    background: #0c0338;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .7s;
}

.navbar a:hover::before {
    width: 100%;
}

.main-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: auto;
}

.sidebar {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.configuration-section {
    background-color: transparent;
    margin-top: 30px;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.250);
    backdrop-filter: blur(5px);
    padding: 20px;
    transition: border-color 1s ease; 
    color:#0c0338;
    text-align: center;
}

.configuration-section:hover {
    border-color: #0c0338; 
}

.configurations {
    max-height: 500px;
    overflow-y: auto;
}

.dropdown {
    width: 100%;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
}

.map-container {
    width: 100%;
    height: 600px;
    background-color: #f7f6ee;
    position: relative; 
    overflow: hidden;
    margin-top: 70px;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.250);
    backdrop-filter: blur(5px);
    transition: border-color 1s ease;
    margin-left: 150px;
}

.map-container:hover {
    border-color:#00d5ff; 
}

.map-container img {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
    user-select: none;
}

.device-info {
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.250);
    padding: 10px;
    transition: border-color 1s ease; 
    color: #0c0338;
    backdrop-filter: blur(5px);
    text-align: center;
    max-height: 307px;
    overflow-y: auto;
}

.device-info:hover {
    border-color:#00d5ff; 
}

.device-info-list {
    list-style: none;
    padding: 0;
}

.device-info-list li {
    margin-bottom: 0;
}

.device-info-list li strong {
    font-weight: bold;
}

.info {
    margin-top: 20px;
    text-align: left;
}

.tab {
    overflow: hidden;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.250);
    transition: border-color 1s ease;
}

.tab button {
    background: #0c0338;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 140px;
    color: white;
    transition: background-color 0.3s ease;
    animation: Gradient 4s ease infinite, slideIn 0.5s ease forwards; 
}

.tab button:hover {
    background-color: #23146b;
}

.tab button.active {
    background-image: linear-gradient(to right, #23146b, #1e4ccb, #6595de, #d1d9f2);
    transition: background-image 0.3s ease;
}

.tabcontent {
    display: none;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#dhcpForm {
    margin-top: 20px;
    text-align: left;
}

#showConfig {
    margin-top: 20px;
}

.src {
    border-radius: 4px;
    min-width: 200px;
}

.sib {
    border-radius: 4px;
    min-width: 200px;
}

.svb {
    border-radius: 4px;
    min-width: 200px;
}

.sdb {
    border-radius: 4px;
    min-width: 200px;
}
#info-devices {
    text-align: left;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .device-config {
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.250);
    padding: 20px;
    transition: border-color 1s ease; 
    color: #0c0338;
    backdrop-filter: blur(5px);
    text-align: center;
    max-height: 263px;
    overflow-y: auto;
}

.device-config:hover {
    border-color: #00d5ff; 
}

/* Aplicar estilos solo en dispositivos móviles */
@media screen and (max-width: 600px) {
    .device-config form button {
        width: 100%;
        margin-top: 10px;
    }
}

.input-field {
    width: calc(100% - 90px);
    padding: 3px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.versions{
    background-color: #1d0d6b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
}

.versions:hover {
    background-color: #2454b5;
}

.device-config button {
    background-color: #1d0d6b;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
}

.device-config button:hover {
    background-color: #2454b5;
}

.device-config form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .device-config form button {
        width: 100%;
        margin-top: 10px;
    }
}

.close-btn {
    border: none;
    color: #00d5ff;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    margin-top: 2px;
}

.close-btn-device {
    padding-top: 38px;
    border: none;
    color: #00d5ff;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
}

h2 {
    margin-bottom: 10px
}

.interfaces-btn {
    background-color: #1d0d6b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    margin-top: 10px;
}

.interfaces-btn:hover {
    background-color: #2454b5;
}

.tversiones {
    margin-top: 10px;
    font-size: 16px;
}